In [1]:
import numpy as np
import pandas as pd
import statistics as stat
from statsmodels.stats.weightstats import ztest

In [13]:
student_data=pd.read_csv('/content/StudentsPerformance.csv')
student_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [4]:
student_data.describe

<bound method NDFrame.describe of      gender race/ethnicity parental level of education         lunch  \
0    female        group C            some high school  free/reduced
1    female        group B                 high school  free/reduced
2    female        group B            some high school  free/reduced
3    female        group B                some college      standard
4    female        group C                some college  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
0                      none           0             17             10
1                      none           8             24             23
2                      none          18             32             28
3                      none          11             38             32
4                      none          22             39             33
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[1000 rows x 8 columns]>

In [3]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

1. Find out how many males and females participated in the test.

In [5]:
gender_counts = student_data['gender'].value_counts()
print("Number of males:", gender_counts.get('male', 0))
print("Number of females:", gender_counts.get('female', 0))

Number of males: 482
Number of females: 518

2. What do you think about the students' parental level of education?

In [10]:
parent_education_levels = student_data['parental level of education']
mode_parent_education = stat.mode(parent_education_levels)
print("Mode parental education level:", mode_parent_education)

Mode parental education level: some college

In [9]:
parental_education_stats = student_data.groupby('parental level of education').agg({
    'math score': ['mean', 'median', 'std'],
    'reading score': ['mean', 'median', 'std'],
    'writing score': ['mean', 'median', 'std']
})
print(parental_education_stats)

                            math score                   reading score         \
                                  mean median        std          mean median
parental level of education
associate's degree           67.977477   67.0  15.108190     71.018018   73.0
bachelor's degree            69.288136   68.0  15.164117     73.000000   73.0
high school                  61.821429   63.0  15.160466     64.602041   66.0
master's degree              70.254237   73.0  14.843544     75.949153   76.0
some college                 67.128319   68.0  14.871790     69.566372   71.0
some high school             63.134078   65.0  16.602894     66.759777   67.0

                                       writing score
                                   std          mean median        std
parental level of education
associate's degree           13.842999     70.031532   71.5  14.260787
bachelor's degree            14.285250     73.381356   74.0  14.728262
high school                  14.245280     62.403061   64.0  14.165172
master's degree              13.046896     75.677966   75.0  13.730711
some college                 14.312932     69.035398   70.0  15.089911
some high school             15.710633     64.888268   66.0  15.736197

Who scores the most on average for math, reading and writing based on
● Gender

In [11]:
average_scores_by_gender = student_data.groupby('gender').mean()
print("Average scores based on gender:\n", average_scores_by_gender)

Average scores based on gender:
         math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

<ipython-input-11-3249817aa7d0>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_scores_by_gender = student_data.groupby('gender').mean()

Who scores the most on average for math, reading and writing based on ● Test Preparation Course

In [14]:
average_scores_by_test_prep = student_data.groupby('test preparation course').mean()
print("Average scores based on test preparation course:\n", average_scores_by_test_prep)

Average scores based on test preparation course:
                          math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

<ipython-input-14-9524dacea421>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_scores_by_test_prep = student_data.groupby('test preparation course').mean()

What do you think about the scoring variation for math, reading and writing
based on
● Gender
● Test preparation course

In [16]:
std_scores_gender = student_data.groupby('gender').std()
std_scores_test_prep = student_data.groupby('test preparation course').std()
print("Standard deviation of scores based on gender:\n", std_scores_gender)
print("Standard deviation of scores based on test preparation course:\n", std_scores_test_prep)

Standard deviation of scores based on gender:
         math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225
Standard deviation of scores based on test preparation course:
                          math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

<ipython-input-16-6475b352967e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  std_scores_gender = student_data.groupby('gender').std()
<ipython-input-16-6475b352967e>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  std_scores_test_prep = student_data.groupby('test preparation course').std()

The management needs your help to give bonus points to the top 25% of
students based on their math score, so how will you help the management
to achieve this.

In [19]:
cutoff_score = np.percentile(student_data['math score'], 75)
print("Cutoff score for top 25% of students:", cutoff_score)

Cutoff score for top 25% of students: 77.0