PRACTICE EXERCISES ON PYTHON BASICS

. Write a Python program which accepts the radius of a circle from the user
and compute the area.

In [ ]:
#radius of circle
import math
math.pi

3.141592653589793

In [ ]:

r=float(input("Enter the radius"))
area=math.pi*r**2
print("Area of circle is",area)

Enter the radius5
Area of circle is 78.53981633974483

python program to enter students detail

In [ ]:
name=input("Enter Name ")
rollno=int(input("Enter the Roll No "))
mark=int(input("Enter the mark "))
print("Name:",name)
print("Roo No:",rollno)
print("Mark:",mark)

Enter Name binty
Enter the Roll No 23
Enter the mark 98
Name: binty
Roo No: 23
Mark: 98

Write a Python program to get the largest number from a list.

In [ ]:
a=[13,45,7,43,89,92,72]
print("The Largest Number is ",max(a))

The Largest Number is  92

Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

In [ ]:
previous_num=0
for i in range(1,11):
  print(i)
  sum=previous_num+i
  print("current number",i,"+","previous number",previous_num ,"= ",sum)
  previous_num=i

1
current number 1 + previous number 0 =  1
2
current number 2 + previous number 1 =  3
3
current number 3 + previous number 2 =  5
4
current number 4 + previous number 3 =  7
5
current number 5 + previous number 4 =  9
6
current number 6 + previous number 5 =  11
7
current number 7 + previous number 6 =  13
8
current number 8 + previous number 7 =  15
9
current number 9 + previous number 8 =  17
10
current number 10 + previous number 9 =  19

. Write a Python program to print only those numbers which are divisible
of 5.

In [4]:

lst = []
n = int(input("Enter number of elements : "))
for i in range(0, n):
  n = int(input())
  lst.append(n)

print(lst)

for num in lst:
  if num%5==0:
    print(num)

Enter number of elements : 3
25
36
40
[25, 36, 40]
25
40

Write a Python program to check whether a number is prime or not.

In [ ]:
num=int(input("Enter a positive number"))
for test in range(2,num//2):
  if num%2==0:
    print(num,"is not prime")
    break
else:
  print(num, " is a prime number")

Enter a positive number13
13  is a prime number

Write a Python program to reverse a list using for loop

In [ ]:
l1=[10,20,30,40,50,60,90,100]
print("List before reverse ",l1)
l2=[]
for num in l1:
  l2=[num] + (l2)
print("List after reverse ",l2)

List before reverse  [10, 20, 30, 40, 50, 60, 90, 100]
List after reverse  [100, 90, 60, 50, 40, 30, 20, 10]

Write a Python program to print the following pattern.

In [ ]:
n = 5
for i in range(0, n):
	for j in range(0, i+1):
		print("*", end=" ")
	print()

*
* *
* * *
* * * *
* * * * *

Write a Python program to find the maximum of three numbers

In [ ]:
numbers = [4, 9, 2, 7, 5, 11, 8]
max_number = numbers[0]


for num in numbers[1:]:
  if num > max_number:
    max_number = num
print("The largest number is:", max_number)

The largest number is: 11

Write a Python program to construct the following pattern, using a
nested for loop.

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

PRACTICE EXERCISES ON PYTHON BASICS -2

Write a Python program to accept a string value from the user and display
the count of each character in that string.

In [ ]:
n=input("Enter the String: ")
s={}
for i in n:
    if i in s:
        s[i]+=1
    else:
        s[i]=1
print(s)

Enter the String: assembly
{'a': 1, 's': 2, 'e': 1, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

 Write a Python function to find the maximum of three numbers Sample

In [ ]:
def maximum(n1,n2,n3):
  l1=[n1,n2,n3]
  return max(l1)
n1=input("Enter 1st Number ")
n2=input("Enter 2nd Number ")
n3=input("Enter 3rd Number ")

print("The maximum of three number is ",maximum(n1, n2, n3))

Enter 1st Number 45
Enter 2nd Number 39
Enter 3rd Number 58
Rhe maximum of three number is  58

 Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp

In [ ]:
def power(base,exp):
    if(exp==1):
        return(base)
    else:
        return(base*power(base,exp-1))
base=int(input("Enter base: "))
exp=int(input("Enter exponential value: "))
print("The output is",power(base,exp))

Enter base: 2
Enter exponential value: 3
The output is 8

Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.

In [ ]:
def sum_cube(n):
  n-=1
  total=0
  while(n>0):
    total+=n*n*n
    n-=1
  return total
n1=int(input("Enter the number "))
print("sum of cubes of number ",sum_cube(n1))

Enter the number 4
sum of cubes of number  36

Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:
for i in range(1,11):
  dataToPrint=""
  #if(i%2==0 and i%5==0):
   # dataToPrint="FizzBuzz"

  if(i%2==0):
      dataToPrint=dataToPrint+"Fizz"
  if(i%5==0):
      dataToPrint=dataToPrint+"Buzz"
  if dataToPrint=="":
      dataToPrint=i
  print(dataToPrint)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [ ]:

def frequent(lst):
  return max(set(lst), key=lst.count)


l1=[5,7,8,9,8,3,6,5,8,4,4,7,8,6,3,8]
print(frequent(l1))

8

In [ ]:
l1 = [5,7,8,9,8,3,6,5,8,4,4,7,8,6,3,8]
print("Given List:\n",l1)
res = max(set(l1),key=l1.count)
print("Element with highest frequency:\n",res)

Given List:
 [5, 7, 8, 9, 8, 3, 6, 5, 8, 4, 4, 7, 8, 6, 3, 8]
Element with highest frequency:
 8

Write a Python program to find the sum of squares of the numbers in a
list.

In [ ]:
l1=[2,1,3,1]
total=0
for i in l1:
  total+=i*i
print ("The sum of squares is ",total)

The sum of squares is  15

Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even

In [ ]:
for i in range(1,16):
  if(i%2==0):
    print(i,"-even")
  else:
   print(i,"-odd")

1 -odd
2 -even
3 -odd
4 -even
5 -odd
6 -even
7 -odd
8 -even
9 -odd
10 -even
11 -odd
12 -even
13 -odd
14 -even
15 -odd

Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]

In [ ]:
f=input("Enter the temprature in fahrenheit")
celcius=round((int(f)-32)*5/9,2)
print("Temprature in celcius = ",celcius)

Enter the temprature in fahrenheit41
Temprature in celcius =  5.0

Write a Python function to calculate the factorial of a number

In [ ]:
def factorial(n):
    if n < 2:
        return 1
    else:
        return n * factorial(n-1)
n1=(int(input("Enter a number")))
print("Factorial of ",n1,"is",factorial(n1))

Enter a number3
Factorial of  3 is 6